<!DOCTYPE html>
<html lang="en">
 
<head>
  <meta charset="utf-8" />
  <title>Temperature</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
  <link rel="stylesheet" href="../static/css/style.css" />
</head>
 
<body>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li role="presentation"><a href="/">Home</a></li>
          <li role="presentation"><a href="/map">Map</a></li>
          <li role="presentation" class="active"><a href="/temperature">Temperature</a></li>
          <li role="presentation"><a href="/heartrate">Heartrate</a></li>
          <li role="presentation"><a href="/battery">Battery</a></li>
        </ul>
        <h3 class="text-muted"style="text-align:right;">Dashboard</h3>
      </div>
    </div>
  </div>
  </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
    <div class="chart-container" style="position: relative; height:50%; width:50%; display:block; margin-left: auto;  margin-right: auto">
    <canvas id="Mychart"></canvas>
    </div>
    <footer class="footer">
        <p>&copy; Algebra smart armband</p>
      </footer>
      <script src="../static/js/chartTemperature.js"></script>
</body>
</html>